<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cloudtechpro: Checkbox Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h2>Please choose months and submit</h2>
	<form th:object="${monthGroup}" th:action="@{/checkbox-submit}"
		method="post">
		<div th:each="month, stat: ${monthGroup.months}">
			<input type="checkbox" th:field="*{months[__${stat.index}__].checked}"
				th:text="${month.name}">
		</div>
		<input type="submit" value="Submit">
	</form>

	<h2>Selected months</h2>
	<div th:each="month, stat: ${monthGroup.months}" th:if="${month.checked}">
		<span th:text="${month.name}"></span>
	</div>
	
</body>
</html>
